{% for project in projects %}
<div  style="margin-top: 90px;" class="portfolio-modal modal fade" id="modal{{ project.get_p_id() }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2>{{ project.get_title() }}</h2>
              <hr class="star-primary">
              <ul class="list-inline item-details">
                <li>Start date:
                  <strong>
                    {{ project.get_start_date() }}
                  </strong>
                </li>
                <li>End date:
                  <strong>
                    {{ project.get_end_date() }}
                  </strong>
                </li>
                <li>
                  <strong>
                    <a style="font-size: 120%" href="/Donation_Projects_Options/{{ project.get_p_id() }}">Donate</a>
                  </strong>
                </li>
              </ul>
              <button class="btn btn-success" type="button" data-dismiss="modal">
                <i class="fa fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
