<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>


    <style>.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;}
    .modalDialog:target {
	opacity:100;
	pointer-events: auto;
}

    .modalDialog > div {
	width: 400px;
	text-align: center;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999); }

    .close {
	background: #6f42c1;
	color: #f5c6cb;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

    .close:hover { background: #19a0ff; }
    .boxed {
        border: 2px solid black;
}
    h1 > div {
        text-align:center;
    }
  a href
  {
      text-align:center;
  }
        #openModal33 {
            text-align:center;
        }
</style>


</head>

<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIHtdKuDX5p1OpCVwss3XUnJEMrTq1RPp0THEKECT2XfcgGJtW">


<h1>
    <div class="boxed">
  Frequently Asked Questions
</div>
</h1>


<section align = 'center'>

    <u><h3>Questions about this website</h3></u>
<a href="#openModal1">1. What is this website about? </a>

<div id="openModal1" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>What is this website about? </h2>
		<p>The aim of this website is to encourage youths to contribute to the needy people.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal2">2. Why do we need this website when we can directly contact the organisation that we want?  </a>

<div id="openModal2" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Why do we need this website when we can directly contact the organisation that we want? </h2>
		<p>When you contact the websites directly you will have to be verified every time you try to organise anything with any organisation
        but with us you will only have to verify once and you will be able to contact every organisation.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal3">3. What are some of the critical community needs/causes that this website will serve? </a>

<div id="openModal3" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>What are some of the critical community needs/causes that this webiste will serve?</h2>
		<p>We are looking at addressing community needs in the areas of the orphans and the needy elderly.</p>
	</div>
</div>

<br>
<br>

<a href="#openModa4">4. How fast will the organisations reply me? </a>

<div id="openModa4" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>How fast will the organisations reply me?</h2>
		<p> The organisations will take around 4-5 working days to get back to you.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal5">5. Why do i have to create an account? </a>

<div id="openModal5" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Why do i have to create an account?</h2>
		<p>Making an account makes sure that only verified users have access to more information about the different organisations. This helps
        reduce scam.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal6">6. What kind of documents do i have to bring along for verification? </a>

<div id="openModal6" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>What kind of documents do i have to bring along for verification?</h2>
		<p>You can create your profile online. You will have to send us an email with a photocopy of the front and back of your nric and
            share your profile with us so that we can verify it for you. </p>
	</div>
</div>

<br>
<br>

<a href="#openModal17">7. I signed up for an opportunity but cannot make it, how do I cancel?</a>

<div id="openModal17" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>I signed up for an opportunity but cannot make it, how do I cancel?</h2>
		<p>You can cancel it when you log into your account but if you need to cancel less than 24 hours before you were
            scheduled to volunteer, please call the organizer listed in the event description.</p>
	</div>
</div>

<br>
<br>

</section>



<section align = 'center'>
    <u><h3>Questions about community work</h3></u>
    <a href="#openModal2.1">1. How is the potential journey of a Member like? </a>

<div id="openModal2.1" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>How is the potential journey of a Member like?</h2>
		<p> Members have the option of taking part in the various programmes and activities that suit their level
            of commitment and volunteering experience. They may start off as Members and progress to become Leaders. </p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.2">2 What is the objective of regular volunteering programmes?</a>

<div id="openModal2.2" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>What is the objective of regular volunteering programmes?</h2>
		<p>Regular volunteering programmes are meant to provide a route for youths who are looking for regular interaction
            with the beneficiaries. In addition, through trainings and interaction with beneficiaries, youth
            volunteers will be able to attain in-depth knowledge and skills related to volunteering and committing.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.3">3. What is the commitment level like for the regular volunteering programmes?</a>

<div id="openModal2.3" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>What is the commitment level like for the regular volunteering programmes? </h2>
		<p>For effective engagement with the beneficiaries, there is a minimum of 6 months commitment. Members who sign up
            for the regular programmes are expected to commit to the sessions within the 6-month period. Members who wish to continue
            volunteering after the 6 months may do so by informing us.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.4">4. Is there a selection process for Members interested to join?</a>

<div id="openModal2.4" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Is there a selection process for Members interested to join? </h2>
		<p>There is no selection process.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.5">5. What is expected of me?</a>

<div id="openModal2.5" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>What is expected of me? </h2>
		<p>We expect you to have a positive attitude, demonstrate patience and flexibility when you face challenges. Be sensitive
            to their feelings and culture and contribute to a positive group experience.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.6">6. Are there any time restrictions when applying for hours?</a>

<div id="openModal2.6" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Are there any time restrictions when applying for hours?</h2>
		<p>when you want to volunteer you will have to send us an email with:
	- your name
	- organisation you want to volunteer at
	-
	- no of people volunteering
	- hours you intend to spend at the organisation
if the organisation has any problems with your hours we will give you a call. </p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.7">7. Why do I have to record my hours?</a>

<div id="openModal2.7" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Why do I have to record my hours?</h2>
		<p>So we can give you credit for your hard work! We can provide verification of hours to your school or employer,
or any other organization that has a community service requirement.

Knowing how many hours our volunteers donate is important as it allows us to quantify how much our volunteers contribute
 to our efforts, how much work our volunteers help us accomplish, and how much we rely on you!</p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.8">8. Where can I check my service hour totals?</a>

<div id="openModal2.8" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Where can I check my service hour totals?</h2>
		<p>it will be reflected in your profile </p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.9">9.Is there an age limit to volunteer?</a>

<div id="openModal2.9" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>is there an age limit to volunteer?</h2>
		<p>Volunteers have to be at least 15 years of age.</p>
	</div>
</div>

<br>
<br>

<a href="#openModal2.10">10. What should I wear?</a>

<div id="openModal2.10" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>What should I wear?</h2>
		<p>

•             Comfortable work clothes

•             Closed-toe shoes

•             Please dress according to the weather, our warehouses can be cold in the winter and hot in the summer!

<b>Prohibited volunteer attire includes:</b>

•             Clothing or jewelry that interferes with work especially long necklaces, rings, and loose bracelets

•             Flip-flops, sandals and open-toe shoes

•             Overly revealing, offensive or otherwise inappropriate clothing


 </p>
	</div>
</div>
</section>

<br>
<br>
<br>

<section align = 'center'>
<a href="#openModal33">I still have questions. Who do I contact? </a>

<div id="openModal33" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>I still have questions. Who do I contact? </h2>
		<p>You can give us a call at 87654321 or email us at yyy@email.com</p>
	</div>
</div>
</section>

</body>
</html>
