<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/CommuHub logo image.png") }}" type="image/x-icon">
    <meta name="description" content="December 2017">
    <meta name="author" content="Min Khant Ko">
    <title>CommuHub</title>

    <!-- Bootstrap core css -->
    <link href="{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css" >

    <!-- Custom css for this template -->
    <link href="../static/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom internal CSS -->
    <style>

        body {
            /* Might need padding-top to shift elements down*/
        }
        header.masthead {
            padding-top: 20px;
        }
        .mainBody {
            padding-top: 100px;
        }

    </style>

    <!-- Custom page css -->
    {% block additionalstyles %}{% endblock %}

    <!-- Preloaded plugin JS -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Custom preloaded JS -->
    {%  block additionalprescripts %}{% endblock %}

</head>
<body id="page-top">

    {% include 'includes/_navbar.html' %}
    <!-- Chester first login form -->
    <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="form1" name="form1" onsubmit="details()">
                        <div class="form-group">

                            <label for="name" class="col-2 col-form-label">Name</label><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                            <div class="col-10"><input type="text" class="form-control" id="name" value="" name="name" pattern="([a-zA-Z_ ]{1,40})$" required></div>
                            <label for="password" class="col-2 col-form-label">Password</label>
                            <div class="col-10"><input class="form-control" type="password" pattern="^(?=.*[a-z])[A-Za-z0-9\d=!\-@._*]+$" oninvalid="" id="password" value="" name="password" required></div>
                        </div>

                         <button type="submit" class="btn btn-success pull-left">Login</button>
                       	 <button class="btn btn-info pull-right" data-dismiss="modal" aria-hidden="true">back</button>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- NEED TO ADJUST POSITION AND STYLING -->
    {% include 'includes/_message.html' %}

    {% block body %}{% endblock %}

    {% include 'includes/_footer.html' %}

    {% block scrolltop %}{% endblock %}

    {% block modals %}{% endblock %}

    <!-- Firebase JS connection, may not be needed -->
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyB-GRQBAeRWDpCrNM1TwBarLnIYaXkEjrk",
        authDomain: "commuhub-2017.firebaseapp.com",
        databaseURL: "https://commuhub-2017.firebaseio.com",
        projectId: "commuhub-2017",
        storageBucket: "commuhub-2017.appspot.com",
        messagingSenderId: "918109022832"
      };
      firebase.initializeApp(config);
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/tether/tether.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="../static/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/wow.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom JS for this template -->
    <script src="../static/js/freelancer.min.js"></script>

    <!-- Custom page JS -->
    {%  block additionalscripts %}{% endblock %}

    <script> /* Reformatted, check */
    /* For tooltips */
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    });
    </script>

    <!-- Chester's Temporary JS file -->
    <script src="../static/js/Login.js"></script>

</body>
</html>
