{% extends "CommuHub_Layout.html" %}

{% block additionalstyles %}
    <!-- Loading scren CSS -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/loading.css">
{% endblock %}

{% block additionalprescripts %}
{#    <script>#}
{#        {{ projects }}#}
{#    </script>#}
    <!-- Preloader CSS -->
    <script src="../static/vendor/modernizr-2.6.2.min.js"></script>
{% endblock %}

{% block body %}
    <!-- Preloader -->
        <div id="loader-wrapper">
        <div id="loader"></div>

            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>

    <div class="container">

    <div id="pageTitle" class="pull left">
        <h2>Donation projects</h2>
        <p>Currently active projects</p>
    </div>

          <div class="row">
            <div class="col-md-3 wow" id="sidebar">
                <div>
                    <a class="list-group-item active">Guardian
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/medshop/guardian/cough_cold_allergy">Cough, Cold &
                            Allergy</a>
                            {#                        <span class="label label-primary pull-right">20</span>#}
                        </li>
                        <li class="list-group-item"><a href="/medshop/guardian/pain_fever">Pain & Fever</a>
                            {#                    <span class="label label-success pull-right">20</span>#}
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="list-group-item active list-group-item-success">Watsons
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/medshop/watsons/colds_flu_nasal">Colds, Flu &
                            Nasal</a>
                            {#                        <span class="label label-primary pull-right">20</span>#}
                        </li>
                        <li class="list-group-item"><a href="/medshop/watsons/fever_analgesics">Fever &
                            Analgesics</a>
                            {#                          <span class="label label-success pull-right">20</span>#}
                        </li>
                    </ul>
                </div>
                {% if website == 'Guardian' or  website == 'Watsons' %}
                    <div>
                        <form id="live-search" action="" class="styled" method="post">
                            <fieldset>
                                <label>Filter Product Name:</label>
                                <input type="text" class="text-input" id="filter" value=""/>
                            </fieldset>
                        </form>
                    </div>
                {% endif %}
            </div>
          </div>
    </div>

{% endblock %}

{% block modals %}
{% include 'includes/_modals.html' %}
{% endblock %}

{% block additionalscripts %}
    <!-- Preloading -->
    <script>
    $(document).ready(function() {

        setTimeout(function(){
            $('body').addClass('loaded');
            $('h1').css('color','#32CD32');
        }, 3000);

    });
    </script>
{% endblock %}
